/* @media quires */


/* laptop device */

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .navbar {
        padding: 1rem 2rem;
    }
    .header {
        display: flex;
        margin-top: 2rem;
    }
}


/* tab device */

@media (max-width:768px) {
    /* .navbar .icons #menu-bars {
        display: inline-block;
        padding: .1rem;
        cursor: pointer;
    } */
    .navbar .nav-right {
        position: absolute;
        height: 100vh;
        width: 40%;
        top: 0%;
        left: 0;
        background-color: var(--bg);
        box-shadow: 10px 10px 20px rgb(55, 109, 228);
        /* border-top: .1rem solid rgb(0, 0, 0); */
        padding: 1rem;
    }
    .navbar .nav-right a {
        display: block;
        padding: 2rem;
        margin: 2rem;
        font-size: 2.5rem;
        /* color: rgb(5, 5, 5);
        background-color: transparent; */
        border-bottom: 1px solid white;
        border-radius: 10px;
        overflow-y: auto;
        transition: 0.5s all;
    }
    .header {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2rem;
    }
    .navbar .nav-right a :hover {
        background-color: aqua;
        border-radius: 100px solid transparent;
        color: orangered;
    }
    .header .header-left {
        font-size: 40%;
        justify-content: center;
        text-align: center;
        margin-left: 60%;
    }
    .header .header-right {
        margin-top: .5rem;
        justify-content: center;
        text-align: center;
    }
}


/* mobile device */

@media (max-width:767px) {
    html {
        font-size: 30%;
    }
    .navbar .nav-right {
        position: absolute;
        height: 100vh;
        width: 30%;
        top: 0%;
        left: 0;
        background-color: var(--bg);
        box-shadow: 10px 10px 20px rgb(55, 109, 228 0.1);
        border-top: .1rem solid rgb(0, 0, 0);
        padding: 1rem;
    }
    .navbar .nav-right a {
        display: block;
        padding: 1.5rem;
        margin: 1.5rem;
        font-size: 3rem;
        color: rgb(5, 5, 5);
        background-color: rgb(154, 236, 241);
        overflow-y: auto;
        transition: 0.5s all;
    }
    .navbar .nav-right a :hover {
        background-color: rgb(105, 149, 231);
        border-radius: 100px solid transparent;
        color: orangered;
    }
    .header {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2rem;
    }
    .header .header-left {
        font-size: 50%;
        justify-content: center;
        text-align: center;
        margin-left: 50%;
    }
    .header .header-right {
        margin-top: .5rem;
        justify-content: center;
        text-align: center;
    }
    .home-section {
        flex-direction: column;
        margin-top: 2rem;
    }
}